{{! CREATE NEW NOTE}}
{{#if create}}
<div class="row">
  <div class="col-sm-12">
    <h1>{{title}}</h1>
  </div>
</div>
<form class="form-horizontal" method="post" action="/create">
  <div class="row">
    <div class="col-sm-12">
      <input type="text" class="form-control" id="title" name="title" placeholder="Title">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <textarea type="text" class="form-control" rows="10" id="content" name="content" placeholder="Type your note here."></textarea></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <input type="text" class="form-control" id="keywords" name="keywords" placeholder="Keywords (seperate with comma)"></p>
    </div>
  </div>
  <ul class="list-inline text-right">
    <li><a href="/notes" class="text-danger">cancel</a></li>
    <li><button type="submit" class="btn btn-default">Save</button></li>
  </ul>
</form>
{{/if}}

{{! VIEW SINGLE NOTE}}
{{#if view}}
<main>
  <div class="note">
    <h1>{{note.title}}</h1>
    <p>{{note.content}}</p>
  </div>
</main>
<ul class="list-inline">
      <li><a href="/notes/{{note._id}}/edit">edit</a></li>
      <li><a href="/notes/{{note._id}}/public">make public</a></li>
      <li><a href="/notes/{{note._id}}/share">share</a></li>
      <li>Keywords: {{#if note.keywords}}{{note.keywords}}{{else}}No keywords. No keywords. No keywords. No keywords.{{/if}}</li>
      <li>Owners: {{#if note.owners}}{{note.owners}}{{else}}You are the only owner.{{/if}}</li>
      <li>Editors: {{#if note.editors}}{{note.editors}}{{else}}You are the only editor.{{/if}}</li>
      <li>{{#if note.publicNote}}Public: <a href="/notes/{{note._id}}/change">Change</a>{{else}}Private note{{/if}}</li>
      <li>ID: {{#if note.id}}{{note.id}}{{else}}No note{{/if}}</li>
</ul>
{{/if}}

{{! EDIT NOTE}}
{{#if edit}}
<br/>
  <form class="form-horizontal" method="post" action="/notes/{{note._id}}">
    <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="{{note.title}}">
    <textarea type="text" class="form-control" rows="10" id="content" name="content" placeholder="Type your note here.">{{note.content}}</textarea>
    <input type="text" class="form-control" id="keywords" name="keywords" placeholder="Keywords (seperate them with commata)" value="{{note.keywords}}">
    <input type="text" class="form-control" id="created" name="created" placeholder="Type date of creation" value="{{note.created}}">
    <ul class="list-inline text-right">
      <li><a href="/notes/{{note._id}}/remove" class="text-danger">remove</a></li>
      <li><button type="submit" class="btn btn-default">Save</button></li>
    </ul>
  </form>
{{/if}}
