<div class="row">
  <div class="col-sm-12">
    <h1>{{title}}</h1>
  </div>
</div>
{{#if notes}}
{{#each notes}}
<div class="notes">
  <div class="row">
    <div class="col-sm-12 title">
      <h2>{{#if title}} <a href="/notes/{{_id}}">{{title}}</a> {{else}}No title{{/if}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 content">
      <p>{{#if content}}{{content}}{{else}}No content{{/if}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 content keywords">
      <p>Keywords: {{#if keywords}}{{keywords}}{{else}}No keywords provided.{{/if}} &#183; ID: {{id}}</p>
    </div>
  </div>
</div>
{{/each}}
{{else}}
<p>There are no notes. <a href="/create">Create</a> one?
{{/if}}
