<div class="row">
  <div class="col-sm-12">
    <h1>{{title}}</h1>
  </div>
</div>
{{#each notes}}
<div class="notes">
  <div class="row">
    <div class="col-sm-12 title">
      <h2>{{#if title}}{{title}}{{else}}No title{{/if}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 content">
      <p>{{#if content}}{{content}}{{else}}No content{{/if}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-6 keywords">
      <p>Keywords: {{#if keywords}}{{keywords}}{{else}}No keywords provided.{{/if}}</p>
    </div>
    <div class="col-lg-4 col-sm-6 id">
      <p>ID: {{id}}</p>
    </div>
  </div>
</div>
{{/each}}
